site_name: "Exploring Computer Science"
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  palette:
    scheme: slate
    primary: black
    accent: amber
  logo: images/exploring_computer_science.png
  favicon: images/exploring_computer_science.png
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.code.highlight
    - content.tooltips
    - content.code.mermaid

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Fundamentals:
      - What is Computer Science?: fundamentals/what_is_computer_science.md
      - Computational Thinking: fundamentals/computational_thinking.md
      - Finite State Machines: fundamentals/finite_state_machines.md
      - Recursive Transition Networks: fundamentals/recursive_transition_networks.md
      - Backus-Naur Form (BNF): fundamentals/backus_naur_form.md
      - Regular Expressions: fundamentals/regular_expressions.md
      - How Parsers Work: fundamentals/how_parsers_work.md
      - Binary Trees & Representation: fundamentals/binary_trees_and_representation.md
      - Scheme & Parse Trees: fundamentals/scheme_and_parse_trees.md
#      - Procedures & Higher-Order Functions: fundamentals/procedures_and_higher_order_functions.md
#      - Abstract Data Types & Stacks: fundamentals/abstract_data_types_and_stack.md
#  - Algorithms:
#  - Programming:
#  - Systems:
#  - Modern Topics:

